body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #0d0d0d;
}

a {
  color: #579db9;
  text-decoration: none;
}

a:hover {
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

figure img {
  border: solid 2px black;
  max-width: 100%;
}

.skills {
  height: 40px;
  width: 40px;

  padding: 10px;
}
.about-box {
  display: flex;
  justify-content: center;
}

ul {
  width: 400px;
}

li {
  text-align: left;
  margin: 10px;
}

#skills {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.skills-box {
  border: 1px solid #4f709c;
  width: 90vw;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
}

.skills-box h1 {
  text-align: left;
  padding-left: 10px;
}

#projects {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.projects-box {
  border: 1px solid #4f709c;
  width: 90vw;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.projects-box h1 {
  text-align: left;
  padding-left: 10px;
}

#contact {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#contact img {
  margin-top: 50px;
  height: 50px;
  width: 50px;
  padding: 20px;
  filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg)
    brightness(119%) contrast(115%);
}

#contact img:hover {
  background-color: #579db9;
  filter: none;
}

button {
  margin-bottom: 15px;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid #579db9;
  background-color: #579db9;
  box-shadow: 0 0 5px;
}

button:hover {
  background-color: white;
  border: 3px solid black;
}

button img {
  width: 15px;
  height: 15px;
}

/* Responsive web design */
@media (max-width: 940px) {
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 55px;
  }

  nav a {
    color: white;
  }

  nav a:hover {
    color: #4f709c;
  }
  body {
    margin-bottom: 55px;
  }
}
