body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url('/images/background.png');
}

a {
  color: #213555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color:#4F709C;
}

 nav {
  display: flex;
  justify-content: center;
  gap: 15px;
 }

 figure img{
  border: solid 2px black;
  max-width: 100%;

 }

 .about-box {
  display: flex;
  justify-content: center;

 }

 ul {
  width: 100vw;

 }

 li {
  text-align: left;
  margin: 10px ;
 }

 #skills {
  display: flex;
  justify-content: center;
  margin: 10px ;
 }

 .skills-box {
  border: 1px solid #4F709C;
  width: 95vw;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
 }

 .skills-box h1 {
  text-align: left;
  padding-left: 10px;
 }

 #projects {
  display: flex;
  justify-content: center;
  margin: 10px ;

 }

 .projects-box {
  border: 1px solid #4F709C;
  width: 95vw;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);

 }

 .projects-box h1 {
  text-align: left;
  padding-left: 10px;
 }

 #contact {
  display: flex;
  justify-content: space-around;
 }

 #contact img {
  margin-top: 50px;
  height: 50px;
  width: 50px;
  padding: 30px;
 }

 button {
  margin-bottom: 15px;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
 }

 button img {
  width: 15px;
  height: 15px;
 }

 /* Responsive web design */
@media (max-width: 940px) {
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 55px;
  }

  nav a {
    color: white;
  }

  body {
    margin-bottom: 55px;

  }


}
